<div class="my-header">
    <h3>Sample application which shows how to use 'Special dropdown' Component.</h3>

    <h5>Available inputs </h5>
    <div>
        <ul>
            <li>
                specialItems : list of elements which are implementing <strong>SpecialItem</strong> interface.
            </li>
            <li>
                specialOptions : object which is implementing <strong>SpecialOptions</strong> interface.
            </li>
        </ul>
    </div>

    <h5>Available outputs </h5>
    <div>
        <ul>
            <li>
                selection : event emitter which return element which is <strong>Item</strong> class object which implements <strong>SpecialItem</strong>.
            </li>

        </ul>
    </div>

</div>